html{
    height: 100vh;
    width: 100vw;
}
body{
    background-color: darkblue;
    margin: 0;
}
main {
    font-family: Impact;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.registration_fields{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 70px;
    width: auto;
    top: 20;
    left: 0;

}
.profile_pic{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.bio_input{
    height: 100px;
    width: 300px;
}
.profile_comp{
    border: 5px solid black;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
    display: flex;
}
.bio_comp{
    background-color: white;

}
.profile_pic_corner{
    height: 70px;
    width: 70px;
    margin-top: 0;
    margin-right: 0;

}
.uploader_comp{
    background-color: blue;
    height: 100px;
    width:500px;
    display: flex;
    border: 5px solid black;
    align-items: center;
    justify-content: space-around;
    /* position: fixed; */
}
