html{
    height: 100vh;
    width: 100vw;
}
body{
    background-color: darkblue;
    margin: 0;
}
main {
    font-family: Impact;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.registration_fields{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 70px;
    width: auto;
    top: 20;
    left: 0;
}
.header img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
}
.other_profile_comp{
    border: 5px solid black;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
    display: flex;
}
.other_profile_profilepic{
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.profile_pic{

    object-fit: cover;
}
.other_profile_comp img{
    height: 300px;
    width: 300px;
}

.bio_input{
    height: 100px;
    width: 300px;
}
.profile_comp{
    border: 5px solid blue;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
    display: flex;
}
.profile_comp img{
    height: 300px;
    width: 300px;
}
.bio_comp{
    background-color: white;

}

.uploader_comp{
    background-color: blue;
    height: 100px;
    width:500px;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    align-items: center;
    justify-content: space-around;
    position: absolute;
}
